*{
    margin: 0;
    padding: 0;
}
header main{
    display: inline-block;
}
.left{
    width: 400px;
    height: 900px;
    background-color: blue;
}
h3{
    color: white;
}
.title{
    width: 262px;
    height: 38px;
    margin-left: 44px;
}
.firstbutt{
    width: 300px;
    height: 60px;
    margin-top: 249px;
    margin-left: 44px;
    color:white;
    background-color: black;

}
.secondbutt{
    width: 300px;
    height: 60px;
    margin-left: 44px;
    margin-top: 10px;
    color:white;
    background-color: black;
}
.right{
    float: right;
}
